.BS04 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: inset 8px 8px 8px 0px rgba(0, 0, 0, 0.3), inset -8px -8px 8px 0px rgba(255, 255, 255, 0.7), -10px -10px 10px 0px rgba(0, 0, 0, 0.4);
}
